[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-marshmallow = "*"
flask-login = "*"
flask-bcrypt = "*"
datetime = "*"
marshmallow-sqlalchemy = "==0.23.1"

[requires]
python_version = "3.7"
